#inicio,
#inicio div,
#inicio section,
#inicio article,
#inicio iframe,
#inicio button{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;	
}	
section#cuerpo{
	width: 100%;
	background: #f7f7f7;
}
	.logged #cuerpo #first{
		display: none !important;
	}
	.nologged #cuerpo #first{
		width: 1000px;
		max-height: 170px;
		margin: 50px auto;
		position: relative;
		background: transparent;
	}
		
	.logged #cuerpo #second{
		display: none !important;
	}	
		
	#cuerpo #collection{
		width: 100%;
		max-width: 1300px;
		margin: 60px auto;
	}
		#cuerpo #collection>.but>a>button{
			margin: 0 auto;
			width: 310px;
		}
		#cuerpo #collection #col-first{
			width: 100%;
			min-width: 1000px;
			margin-bottom: 35px;
		}
			#cuerpo #collection #col-first>div:nth-child(1){
				width: 37%;
				display: block;
				float: left;
				border-top: 1px solid #533b6a;
				margin-top: 28px;
			}
			#cuerpo #collection #col-first>div:nth-child(2){
				width: 	26%;
				background:transparent;
				display: block;
				float: left;	
			}
			#cuerpo #collection #col-first>div:nth-child(3){
				width: 37%;	
				display: block;
				float: left;
				border-top: 1px solid #533b6a;
				margin-top: 28px;
			}
			#cuerpo #collection #col-first .titulo{
				width: 100%;
				background: transparent;
				margin: 0 auto;
			}
				#cuerpo #collection #col-first .titulo h3{
					text-align: center;
					font: 51px vevey;
					color: #533b6a;
					text-transform: uppercase;	
				}
				#cuerpo #collection #col-first .titulo h4{
					text-align: center;
					font: 20px calibrili, calibri;
					color: #666666;
				}
		#cuerpo #collection #col-second{
			width: 100%;
			padding-left: 20px;
			/*min-width: 1024px;*/
		}			
			#cuerpo .photo{
				width: 236px;
				float: left;
				margin-right:20px;
				position: relative;
			}						
				#cuerpo .photo div.model{
					display: block;
					float: none;						
					margin-top: 15px;
					margin-bottom: 60px;
					width: 100%;
				}
					#cuerpo .photo div.model h5,
					#cuerpo .photo div.model h6{
						font: 20px vevey;
						color: #666666;
						text-transform: uppercase;
						text-align: center;
						letter-spacing: 2px;
						word-spacing: 2px;
					}
					#cuerpo .photo div.model span{
							display: block;
							width: 100%;
							text-align: center;
						height: 2px;
						margin: 10px 0;
						}
						#cuerpo .photo div.model .autor{
							width: 100%;
							margin: 5px auto;
							position: relative;							
						}
						#cuerpo .photo div.model .autor p{
							color: #000;
							font: 15px calibrili, calibri;
							text-align: left;
							display: block;
							float: left;
							width: 176px;
						}
						#cuerpo .photo div.model .autor div.ranking{  							
							display: block;
							float: left;
						text-align: right;
						width: 60px !important;
						}
							#cuerpo .photo div.model .autor div.ranking img{
  							display: inline;
  							width: 8px;	  							
  						}
  						#cuerpo .photo div.model .autor div.ranking a:hover img{
  							display: inline;
  							width: auto !important;
  							-moz-transform:scale(0,0) !important;
						   	-webkit-transform:scale(0,0) !important;
						   	-o-transform:scale(0,0) !important;
						   	-ms-transform:scale(0,0) !important;
						   	transform:scale(0,0) !important;
  						}	  					
  					
  				/*en seasson*/
  				#cuerpo .photo div.new{
					position: absolute;
					top: -5px;
					z-index: 12;
					left: -4px;	
				}
	  	#cuerpo #collection>.but{
			width: 100%;
			text-align: center;
	  	}
	  		#cuerpo #collection>.but button{
	  			padding-right: 55px;
				padding-left: 55px;
	  		}

	#cuerpo #seasson{
		width: 100%;
		max-width: 1300px;
		margin: 0px auto;
	}
		#cuerpo #seasson #sea-first{
			width: 100%;
			min-width: 1000px;
			margin-bottom: 35px;
			margin: 10px 0 40px 0;
		}
			#cuerpo #seasson #sea-first>div:nth-child(1){
				width: 37%;
				display: block;
				float: left;
				border-top: 1px solid #533b6a;
				margin-top: 28px;
			}
			#cuerpo #seasson #sea-first>div:nth-child(2){
				width: 26%;
				background: transparent;
				display: block;
				float: left;	
			}
			#cuerpo #seasson #sea-first>div:nth-child(3){
				width: 37%;	
				display: block;
				float: left;
				border-top: 1px solid #533b6a;
				margin-top: 28px;
			}
			#cuerpo #seasson #sea-first .titulo{
				width: 100%;
				background: transparent;
				margin: 0 auto;
			}
				#cuerpo #seasson #sea-first .titulo h3{
					text-align: center;
					font: 51px vevey;
					color: #533b6a;
					text-transform: uppercase;	
				}
		#cuerpo #seasson #sea-second{
			width: 100%;
			padding-left: 20px;
			/*min-width: 1024px;*/
		}	
			#cuerpo #sea-second .photo div.model {
				margin-bottom: 35px !important;
			}
	
/*My Tooltip Home*/
#inicio .photo div.model .autor .mytooltip{
	width: 140px;
	border: 1px solid #6c3d98;
	border-radius: 4px;
	background: #fff;
	position: absolute;
	top: -130px;
	right: 0;
	z-index: 2;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
	#inicio .photo div.model .autor .mytooltip:after{
	content: "";
	position: absolute;
	right: 22px;
	top: 47px;
	width: 10px;
	height: 10px;
	border-bottom: 1px solid #6c3d98;
	border-right: 1px solid #6c3d98;
	background: #fff;
	z-index: -1;
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-ms-transform:     rotate(45deg);
	-o-transform:      rotate(45deg);
	}
	#inicio .photo div.model .autor .mytooltip p{
		font: 17px calibrili, calibri;
		display: block;
		width: 100%;
		text-align: center;
		padding: 2px 0;
	}
	#inicio .photo div.model .autor .mytooltip p:first-child{
		background: #685584;
		color: #fff;
	}
		#inicio .photo div.model .autor .mytooltip p:first-child strong{
			font-size: 19px;
			font-weight: bold;
		}
#inicio .photo div.model .autor .mytooltip p:last-child{
		display: block;
		width: 100%;
		text-align: center;
		color: #696969;
	}


/*Responsive*/
@media only screen and (max-width : 1024px){
	#cuerpo #collection #col-second {
		padding-left: 10px;
	}
	#cuerpo #seasson #sea-second {
		padding-left: 10px;
	}
		#cuerpo #collection #col-second .photo{
			margin-right:10px; 
		}
		#cuerpo #seasson #sea-second .photo{
			margin-right:10px; 
		}
}
