.myicon-buscar {
	width: 23px;
	height: 24px;
	background-position: -90px -31px;
}
.myicon-facebook {
	width: 10px;
	height: 22px;
	background-position: -118px -3px;
}
.myicon-twitter {
	width: 26px;
	height: 23px;
	background-position: -86px -4px;
}
.myicon-facebook-2 {
	width: 11px;
	height: 20px;
	background-position: -6px -718px;
}
.myicon-twitter-2 {
	width: 26px;
	height: 23px;
	background-position:-3px -746px;
}	
.myicon-candado {
	width: 59px;
	height: 88px;
	background-position: -753px -110px;
}
.myicon-user-candado {
	width: 43px;
	height: 23px;
	background-position: -762px -74px;
}
.myicon-wholesaler{
	width: 46px;
	height: 21px;
	background-position: -759px -76px;
}
.myicon-designer{
	width: 37px;
	height: 29px;
	background-position: -866px -68px;
}
.myicon-retailer{
	width: 30px;
	height: 30px;
	background-position: -867px -107px;
}
.myicon-line1{
	width: 47px;
	height: 2px;
	background-position: -159px -15px;
}
.myicon-heart{
	width: 16px;
	height: 13px;
	background-position: -137px -9px;
}
.myicon-new-in-sale{
	width: 74px;
	height: 62px;
	background-position: -656px -118px;
}
.myicon-mail{
	width: 32px;
	height: 23px;
	background-position: -722px -76px;
}
.myicon-manya{
	width: 18px;
	height: 16px;
	background-position: -695px -85px;
}
.myicon-user{
	width: 19px;
	height: 18px;
	background-position: -3px -3px;
}


/*Logged Menu*/
.myicon-w-profile{
	width: 16px;
	height: 17px;
	background-position: -21px -33px;
}	
.myicon-w-saved{
	width: 21px;
	height: 20px;
	background-position: -24px -56px;
}	
.myicon-w-orders{
	width: 35px;
	height: 28px;
	background-position: -34px -82px;
}
.myicon-w-message{
	width: 18px;
	height: 18px;
	background-position: -25px -116px;
}
.myicon-w-history{
	width: 21px;
	height: 20px;
	background-position: -25px -141px;
}
.myicon-w-logout{
	width: 20px;
	height: 20px;
	background-position: -24px -166px;
}

/*user Logged*/
.myicon-user2{
	width: 20px;
	height: 20px;
	background-position: -3px -212px;	
}
.myicon-calendar{
	width: 19px;
	height: 20px;
	background-position: -3px -239px;	
}
.myicon-like{
	width: 17px;
	height: 16px;
	background-position: -4px -268px;
}
.myicon-view{
	width: 21px;
	height: 14px;
	background-position: -4px -292px;	
}
.myicon-helper{
	width: 22px;
	height: 21px;
	background-position: -5px -319px;	
}
.myicon-helper-2{
	width: 22px;
	height: 21px;
	background-position: -7px -926px;
}
	
/*profile*/
.myicon-menulog-1{
	width: 36px;
	height: 42px;
	background-position: -41px -198px;	
}
/*collection*/
.myicon-menulog-2{
	width: 32px;
	height: 32px;
	background-position: -45px -253px;	
}
/*orders*/
.myicon-menulog-3{
	width: 39px;
	height: 28px;
	background-position: -45px -303px;
}
/*talk*/
.myicon-menulog-4{
	width: 32px;
	height: 30px;
	background-position: -47px -341px;	
}
/*create*/
.myicon-sky{
	width: 39px;
	height: 26px;
	background-position: -63px -166px;
}
.myicon-close{
	width: 25px;
	height: 25px;
	background-position: -3px -403px;
}
.myicon-share{
	width: 23px;
	height: 18px;
	background-position: -4px -376px;
}
.myicon-edit{
	width: 18px;
	height: 20px;
	background-position: -7px -350px;
}
.myicon-delete{
	width: 26px;
	height: 28px;
	background-position: -54px -933px;
}
.myicon-settings{
	width: 31px;
	height: 25px;
	background-position: -5px -507px;
}
.myicon-upphoto{
	width: 20px;
	height: 18px;
	background-position: -58px -595px;
}
.myicon-upphoto-white{
	width: 21px;
	height: 18px;
	background-position: -91px -595px;
}
.myicon-from{
	width: 22px;
	height: 23px;
	background-position: -5px -539px;
}
.myicon-tags{
	width: 20px;
	height: 21px;
	background-position: -5px -569px;
}
.myicon-correct{
	width: 14px;
	height: 14px;   
	background-position: -8px -624px;
}
.myicon-cancel{
	width: 12px;
	height: 12px;
	background-position: -5px -642px;
}
.myicon-save{
	width: 12px;
	height: 13px;
	background-position: -4px -675px;
}
.myicon-experience{
	width: 23px;
	height: 19px;
	background-position: -2px -692px;
}
.myicon-plus{
	width: 11px;
	height: 13px;
	background-position: -4px -775px;
}
.myicon-point{
	width: 7px;
	height: 8px;
	background-position: -6px -793px;
}
.myicon-done{
	width: 15px;
	height: 12px;
	background-position: -5px -659px;
}
.myicon-addnew{
	width: 27px;
	height: 21px;
	background-position: -92px -508px;
}
.myicon-addvideo{
	width: 23px;
	height: 22px;
	background-position:  -93px -535px;
}
.myicon-addimage{
	width: 23px;
	height: 22px;
	background-position: -94px -562px;
}
.myicon-place{
	width: 14px;
	height: 24px;
	background-position: -8px -595px;
}
.myicon-post-view{
	width: 28px;
	height: 16px;
	background-position:-1px -806px;
}
.myicon-update{
	width: 19px;
	height: 18px;
	background-position: -59px -624px;
}	
.myicon-privacy{
	width: 32px;
	height: 28px;
	background-position: -302px -12px;
}
	
/*Forum*/
.myicon-for-all{
	width: 26px;
	height: 24px;
	background-position: -149px -169px;
}
.myicon-for-categ{
	width: 26px;
	height: 26px;
	background-position: -149px -206px;
}
.myicon-for-more{
	width: 27px;
	height: 28px;
	background-position:-149px -245px;
}
.myicon-for-discu{
	width: 22px;
	height: 26px;
	background-position:-155px -286px;
}	
.myicon-for-create{
	width: 24px;
	height: 26px;
	background-position:-155px -324px;
}
.myicon-for-listcategories{
	width: 18px;
	height: 18px;
	background-position:-56px -697px;
}
.myicon-for-write{
	width: 18px;
	height: 18px;
	background-position:-157px -360px;
}
.myicon-for-comment{
	width: 16px;
	height: 15px;
	background-position:-77px -69px;
}
.myicon-for-like{
	width: 13px;
	height: 12px;
	background-position:-80px -91px;
}
.myicon-for-view{
	width: 17px;
	height: 12px;
	background-position:-79px -108px;
}
.myicon-for-helper{
	width: 30px;
	height: 30px;
	background-position:-345px -12px;
}
.myicon-for-tags{
	width: 16px;
	height: 16px;	
	background-position:-79px -126px;
}
.myicon-for-post{
	width: 17px;
	height: 16px;	
	background-position:-77px -147px;
}
.myicon-for-calendar{
	width: 14px;
	height: 15px;	
	background-position:-57px -59px;
}
/*Pop up - Login*/
.myicon-email{
	width: 25px;
	height: 17px;
	background-position:-65px -729px;
}
	

/*Arrow*/
.myicon-arrow-down1{	
	width: 20px;
	height: 21px;
	background-position: -28px -3px;
}
.myicon-arrow-1{
	width: 10px;
	height: 9px;	
	background-position: -95px -679px;
}
.myicon-arrow-2{
	width: 10px;
	height: 9px;	
	background-position: -61px -679px;
}

	
/*Register*/
.myicon-reg-designer{
	width: 30px;
	height: 30px;	
	background-position: -956px -103px;
}
.myicon-reg-wholesaler{
	width: 37px;
	height: 29px;	
	background-position:-952px -68px;
}
.myicon-reg-retailer{
	width: 43px;
	height: 21px;
	background-position: -817px -103px;
}
.myicon-reg-arrow{
	width: 15px;
	height: 12px;
	background-position: -831px -135px;
}
.myicon-reg-register{	
	width: 20px;
	height: 21px;
	background-position:-57px -761px;
}
.myicon-reg-addaccount{	
	width: 29px;
	height: 29px;
	background-position:-49px -787px;
}

/*Qualification	*/
.myicon-rate{
	background-position: -50px -829px;
	width: 22px;
	height: 22px;
}
/*Video*/
.myicon-play{
	background-position:-748px -211px;
	width: 66px;
	height: 67px;
}
	
/*Info Sign*/
.myicon-inf-1{
	background-position:-876px -149px;
	width: 121px;
	height: 129px;
}
.myicon-inf-2{
	background-position:-912px -287px;
	width: 80px;
	height: 107px;
}
.myicon-inf-3{
	background-position:-891px -406px;
	width: 107px;
	height: 112px;
}
.myicon-inf-4{
	background-position:-898px -533px;
	width: 101px;
	height: 98px;
}
.myicon-inf2-1{
	background-position:-916px -646px;
	width: 84px;
	height: 83px;
}
.myicon-inf2-2{
	background-position:-917px -736px;
	width: 83px;
	height: 83px;
}
.myicon-inf2-3{
	background-position:-916px -825px;
	width: 84px;
	height: 83px;
}
.myicon-inf2-4{
	background-position:-916px -914px;
	width: 83px;
	height: 83px;
}

/*myicon-wholesaler	*/
	
.myicon-inf-w-1{
	background-position:-790px -406px;
	width: 81px;
	height: 96px;
}
.myicon-inf-w-2{
	background-position:-780px -535px;
	width: 100px;
	height: 97px;
}
	
.myicon-inf-w-3{
	background-position:-721px -764px;
	width: 84px;
	height: 99px;
}
.myicon-inf-w-4{
	background-position:-714px -888px;
	width: 101px;
	height: 97px;
}

.myicon-point-1{
	background-position:-829px -654px;
	width: 78px;
	height: 70px;
}
.myicon-point-2{
	background-position:-831px -745px;
	width: 78px;
	height: 69px;
}
.myicon-point-3{
	background-position:-829px -832px;
	width: 78px;
	height: 70px;
}
.myicon-point-4{
	background-position: -831px -925px;
	width: 79px;
	height: 69px;
}

/*My orders*/
.myicon-show-video{
	background-position:-4px -857px;
	width: 24px;
	height: 24px;
}
.myicon-or-tag{
	background-position:-55px -860px;
	width: 22px;
	height: 18px;
}
.myicon-or-user{
	background-position: -0px -191px;
	width: 19px;
	height: 19px;
}
.myicon-or-rate{
	background-position: -127px -829px;
	width: 22px;
	height: 22px;
}
.myicon-or-delivery{
	background-position: 0 -825px;
	width: 35px;
	height: 28px;
}
.myicon-or-check{
	background-position: -84px -906px;
	width: 25px;
	height: 20px;
}
.myicon-or-message{
	background-position: -2px -889px;
	width: 32px;
	height: 26px;
}	
.myicon-or-avatar{
	background-position: -657px -942px;
	width: 53px;
	height: 54px;
}
.myicon-or-avatar-me{
	background-position: -596px -943px;
	width: 53px;
	height: 54px;
}	
.myicon-reply{
	background-position:-91px -884px;
	width: 16px;
	height: 15px;
}
.myicon-reply-post{
	background-position: -7px -953px;
	width: 22px;
	height: 21px;
}
.myicon-price{
	background-position: -88px -860px;
	width: 22px;
	height: 18px;
}
		
	
	
	
	
	
	